body {
    background-image: linear-gradient(to bottom right, #082032, #2C394B);
    color: #EEEEEE;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

/* Header */

header {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    height: 4.5rem;
}

nav {
    margin: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 0 2rem;
}

#nav-left {
    display: flex;
    align-items: center;
}

nav .icon {
    filter: invert();
    width: 1.25rem;
}

nav a {
    color: #acacac;
    text-decoration: none;
    font-size: 0.7rem;
    transition: 0.3s;
}

nav a:hover {
    color: #334756;
    transition: 0.3s;
}

.page {
    position: relative;
    bottom: 0px;
    transition: 0.7s;
}

.active {
    bottom: 0px;
    transition: 1s;
}

/* Main */

main {
    position: relative;
    top: 4.5rem;
    margin-bottom: 2rem;
}

/* Banner */

.banner {
    height: 45rem;
    background-image:         
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.35), 
      rgba(0, 0, 0, 0.35)
    ),
    /* bottom, image */
    url("../media/images/profile_photo_002.png");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 1fr;
    padding: 0 8%;
}

.banner .overlay-text {
    display: grid;
    grid-template-areas: "title title"
                         "job-title job-title"
                         "job-description contact";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: space-evenly;
}

.banner h1, h2 {
    text-transform: uppercase;
}

.banner .title {
    grid-area: title;
    font-size: 4.5rem;
}

#job-title {
    grid-area: job-title;
    font-weight: 200;
    font-size: 1.25rem;
}

#job-description {
    grid-area: job-description;
}

.banner .contact {
    grid-area: contact;
}

.contact {
    display: flex;
    padding: 3% 1%;
}

.contact img {
    width: 2.5rem;
    filter: invert();
}

.banner .icon {
    z-index: 3;
}

.popout-container {
    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0.35rem;
}

.popout {
    color: #EEEEEE;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    width: 12rem;
    overflow: hidden;
    text-align: center;
}

/* Technologies */

#tech {
    position: relative;
    margin-top: 10rem;
    margin-bottom: 10rem;
    text-align: center;
}

#tech h2 {
    font-size: 3.5rem;
}

.icons {
    position: relative;
    margin: 3rem 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#tech .icon {
    padding: 7rem;
    transition: 0.3s;
}

#tech img {
    z-index: 3;
    position: relative;
    padding: 2rem;
    width: 9rem;
    height: 9rem;
    object-fit: contain;
    filter: invert(); 
    transition: 0.3s;
}

.info-overlay {
    opacity: 0;
    position: absolute;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 3rem;
    border-radius: 25px 10px 10px 25px;
    padding-left: 13rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    transition: 0.3s;
}

.icon-right {
    left: 1rem;
    padding-right: 13rem;
    padding-left: 2.5rem;
}

.info-overlay ul {
    margin-top: 1rem;
    line-height: 2;
}

/* Projects */

.projects {
    position: relative;
    margin-top: 10rem;
    margin-bottom: 10rem;
    text-align: center;
}

.projects h2 {
    font-size: 3.5rem;
    margin-bottom: 5rem;
}

.projects video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(70%);
}

.project-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 3rem 0;
    height: 30rem;
    display: flex;
    justify-content: center;
}

.project-banner .overlay-text {
    width: 100%;
    z-index: 3;
    display: grid;
    grid-template-areas: "logo logo logo"
                         "website-button name project-button"
                         "description description description";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.project-banner img {
    grid-area: logo;
    height: 4rem;
}

.project-banner .website-button {
    grid-area: website-button;
}

.project-banner h3 {
    grid-area: name;
    text-transform: uppercase;
    font-size: 3rem;
}

.project-banner .project-button {
    grid-area: project-button;
}

.project-banner p {
    grid-area: description;
    margin: 0 20%;
    line-height: 2;
}

.project-banner a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75rem;
    word-spacing: 0.05rem;
    color: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    padding: 1.5rem;
    transition: 0.5s;
}

.project-banner a:hover {
    background-color: #EEEEEE;
    color: #082032;
    transition: 0.5s;
}

.project-banner a:active {
    background-color: #727272;
    border-color: #727272;
    transition: 0.3s;
}

#weekly-tournaments video {
    filter: brightness(50%);
}

#microsoft img {
    filter: invert();
}

/* Footer */

footer {
    width: 100%;
    background-color: #082032;
    height: 25rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}

#footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-contact div {
    display: inline-flex;
}

#footer-contact figure {
    margin: 5rem;
    width: 100%;
}

#footer-contact figcaption {
    margin-top: 0.25rem;
}

#footer-contact a {
    color: #EEE;
    transition: 0.3s;
}

#footer-contact a:hover {
    color: #334756;
    transition: 0.3s;
}

